include ../mixins/mixins.pug
block vars
  - var title = 'Diary'
  - var basePath = './'
  - var isHome = false
  - var showInPageNav = false
+head(title)
body
  .content-wrapper
    header.inverse
      a.skip-nav(href="#mainContent") Skip to main content
      a.logo(href=basePath + 'index.pug') The Gracious Wall
    main#mainContent
      h1= title
      if showInPageNav
        nav.page-nav(aria-labelledby="pageNav")
          #pageNav On this page:
          ul
            block nav
      section
        block content
    block footer 
      if !isHome
        nav
          a.back-link(href=basePath + 'index.pug') ⇽ Back to Contents
      footer.inverse 
        .wrapper
          .links
            a(href=basePath + 'copyright.pug') Copyright Notice
            a(href=basePath + 'terms.pug') Terms of Use 
          .copyright
            | © 2026 Jonathan Blades. All rights reserved.
          